Package: libsubunit-perl
Source: subunit
Version: 1.3.0-2
Architecture: all
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Installed-Size: 24
Depends: perl
Provides: libsubunit-diff-perl
Section: perl
Priority: optional
Homepage: http://code.launchpad.net/subunit
Description: perl parser and diff for Subunit streams
 subunit is a protocol for test activity serialisation deserialisation. This
 permits executing tests remotely, or saving the result of test runs for later
 introspection.
 .
 The libsubunit-perl package contains the Perl language support for Subunit.
