Package: libcppunit-subunit-dev
Source: subunit
Version: 1.3.0-2
Architecture: amd64
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Installed-Size: 1858
Depends: libcppunit-subunit0 (= 1.3.0-2)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://code.launchpad.net/subunit
Description: SubunitTestProgressListener for CPPUnit - Development headers
 subunit is a protocol for test activity reporting. The
 SubunitTestProgressListener permits outputting Subunit from  a CPPUnit test
 suite.
 .
 The libcppunit-subunit-dev package contains the C++ development headers,
 pkgconfig data file and a static version of the library.
